<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <di>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat eaque officia, rerum cum nihil officiis
            fugiat? Aspernatur dolorum quis velit harum, cumque ipsam veniam suscipit, deleniti et nam dolorem nihil!
       kkjgfhgfdt
        </p>
    </di>
</body>

</html>